header,
footer {
    background-color: #3465af;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}

header a {
    color: white;
    text-decoration: none;
}

footer table,
header table {
    text-align: center;
    width: 100%;
}

body {
    background-color: #ffcb05;
}

.error {
    background-color: rgba(255, 0, 0, 1);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1em;
}

#content table {
    text-align: center;
    width: 50%;
    border-collapse: collapse;
}

#content th {
    background-color: #3465af;
    color: white;
    border: 1px white;
    border: 1px solid white;
}

#content td {
    border: 1px solid #3465af;
}

#home {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}